.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}
.notes__appbar{
    align-items: center;
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px){
    .notes__appbar{
        flex-direction: row;
    }
    
}

.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.notes__title-input, .notes__textarea{
    border: none;
    border-bottom: 1px solid $primary;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;

       &:focus{
        outline: none;
        border-bottom: 2px solid $primary;
        padding: 5px;
    }
}

.notes__image img{
    box-shadow: 5px 5px $dark-grey;
    height: 200px;
    
}